[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==13.14"
environs = "==9.5.0"
google-cloud-dialogflow = "==2.16.1"
vk-api = "==11.9.9"

[dev-packages]

[requires]
python_version = "3.10"
